@media screen and (max-width: 767px) {
    .container {
      max-width: 720px;
    }
    /* navbar css for mobile start */
    .nav-toggler{
      display: block;
    }
    .header-area .site-navbar ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 60px);
      left: 0;
      top: 96px;
      z-index: 2;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color:#DCE5E2;
      max-height: 0;
      overflow: hidden;
      transition: .3s;
    }
    body .header-area .site-navbar ul li {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
    }
    .header-area .site-navbar ul li:first-of-type {
      margin-right: 0;
    }
    .header-area .site-navbar ul li:nth-child(2) {
      margin-right: 0;
    }
    .header-area .site-navbar ul li:nth-child(2) a::after{
      display: none;
    }
    .header-area .site-navbar ul li:nth-child(3) {
      margin-right: 0;
    }
    .header-area .site-navbar ul li:last-of-type {
      margin-right: 0;
    }
    .site-navbar ul.open {
      max-height: 100vh;
      overflow: visible;
    }
}
