* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
}

.container {
  max-width: 1294px;
  margin: auto;
}

.d_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-area {
  padding: 28px 0;
  background: #FFFFFF;
}
.header-area .site-navbar ul {
  list-style: none;
  display: flex;
}
.header-area .site-navbar ul li:first-of-type {
  margin-right: 33px;
}
.header-area .site-navbar ul li:nth-child(2) {
  margin-right: 35px;
}
.header-area .site-navbar ul li:nth-child(2) a {
  display: inline-flex;
  align-items: center;
}
.header-area .site-navbar ul li:nth-child(2) a::after {
  content: "";
  display: block;
  width: 10px;
  height: 7px;
  background-image: url(../images/vectordown.svg);
  background-size: cover;
  margin-left: 4px;
}
.header-area .site-navbar ul li:nth-child(3) {
  margin-right: 44px;
}
.header-area .site-navbar ul li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.header-area .site-navbar ul li a img {
  display: block;
  width: 100%;
}
.header-area .site-navbar .header_icon li:first-of-type {
  margin-right: 22px;
}
.header-area .site-navbar .header_icon li:last-of-type {
  margin-right: 29px;
}
.header-area .site-navbar .header_icon li:last-of-type a::after {
  content: "";
  display: none;
}

.nav-toggler {
  border: 3px solid #000000;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span {
  width: 28px;
  height: 3px;
  background-color: #000000;
  display: block;
  transition: 0.3s;
}
.nav-toggler span::before, .nav-toggler span::after {
  width: 28px;
  height: 3px;
  background-color: #000000;
  display: block;
  transition: 0.3s;
}
.nav-toggler span::before {
  content: "";
  transform: translateY(-9px);
}
.nav-toggler span::after {
  content: "";
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span::before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span::after {
  transform: translateY(-3px) rotate(-45deg);
}

.take_look {
  padding: 28px 0;
}
.take_look .slider_holder {
  background: #DCE5E2;
  border-radius: 32px;
  overflow: hidden;
}
.take_look .slider_holder .slider_item {
  display: flex;
  align-items: center;
  padding-left: 56px;
}
.take_look .slider_holder .slider_item .item_description {
  width: 50%;
}
.take_look .slider_holder .slider_item .item_description h1 {
  max-width: 588px;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 19px;
}
.take_look .slider_holder .slider_item .item_description p {
  max-width: 565px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 44px;
}
.take_look .slider_holder .slider_item .item_description a {
  padding: 14px 53px;
  border: 1px solid #000000;
  border-radius: 200px;
  font-family: "Inter", sans-serif;
  font-style: 400;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}
.take_look .slider_holder .slider_item .item_img img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav button.owl-prev {
  display: block;
  width: 24px;
  height: 24px;
  border-left: 2px solid #08090D;
  border-bottom: 2px solid #08090D;
  transform: rotate(45deg);
  position: absolute;
  top: 47%;
  left: 19px;
}
.owl-carousel .owl-nav button.owl-next {
  display: block;
  width: 24px;
  height: 24px;
  border-right: 2px solid #08090D;
  border-top: 2px solid #08090D;
  transform: rotate(45deg);
  position: absolute;
  top: 47%;
  right: 19px;
}
.owl-carousel .owl-dots {
  position: absolute;
  left: 25%;
  bottom: 34px;
  text-align: center;
}
.owl-carousel .owl-dots .owl-dot {
  margin-right: 34px;
}
.owl-carousel .owl-dots .owl-dot:last-of-type {
  margin-right: 0;
}
.owl-carousel .owl-dots .owl-dot span {
  display: block;
  width: 194px;
  height: 2px;
  background: #000000;
}

.shop {
  padding: 47px 0 28px;
}
.shop h2 {
  max-width: 780px;
  margin: auto;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 9px;
}
.shop p {
  max-width: 628px;
  margin: auto;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 55px;
}
.shop .categories {
  display: flex;
  justify-content: space-between;
}
.shop .categories article {
  background: #FFFFFF;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
  transition: 0.5s;
}
.shop .categories article:hover {
  transform: translateY(20px);
}
.shop .categories .laptops_and_watch {
  max-width: 639px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shop .categories h4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
}
.shop .categories h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}
.shop .categories img {
  display: block;
  width: 100%;
}
.shop .categories .laptops {
  padding: 0 42px;
  margin-bottom: 16px;
}
.shop .categories .laptops .laptop_img {
  max-width: 500px;
}
.shop .categories .laptops h4 {
  text-align: right;
}
.shop .categories .laptops h3 {
  text-align: right;
}
.shop .categories .watch {
  padding: 0 42px;
  display: flex;
  align-items: center;
}
.shop .categories .watch .watch_img {
  max-width: 381px;
}
.shop .categories .watch .watch_description {
  text-align: right;
}
.shop .categories .phones {
  padding: 144px 0;
  text-align: center;
}
.shop .categories .phones .phones_img {
  margin-left: 16px;
  margin-bottom: 41px;
}
.shop .categories .phones h3 {
  width: 250px;
  margin: auto;
}
.shop .categories .tablet {
  padding: 114px 0;
  text-align: center;
}
.shop .categories .tablet h3 {
  width: 233px;
  margin: auto;
  margin-bottom: 42px;
}

.most_sell {
  padding: 72px 0 27px;
}
.most_sell h3 {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
  text-align: center;
  margin-bottom: 9px;
}
.most_sell p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  text-align: center;
  margin-bottom: 31px;
}
.most_sell .d_flex {
  align-items: flex-start;
}
.most_sell .item_holder .item_card .item_img {
  padding: 28px;
}
.most_sell .item_holder .item_card .item_img img {
  display: block;
  width: 100%;
}
.most_sell .item_holder .item_descrition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.most_sell .item_holder h4 {
  height: 33%;
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 9px;
}
.most_sell .item_holder p {
  max-width: 261px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
  text-align: left;
  margin-bottom: 8px;
  flex-grow: 1;
}
.most_sell .item_holder span {
  height: 33%;
  display: block;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}/*# sourceMappingURL=style.css.map */